<div class="ui mini modal" id="newTeam">


    <div class="content">
        <h3 class="ui block header">

            Create A New Team
        </h3>
        <div class="field">
            <div class="ui left icon input">
                <i class="tumblr icon"></i>
                <input type="text" id="new_team_name" value="" placeholder="Team Name">
            </div>
        </div>
    </div>


    <div class="actions">
        <div class="ui red basic cancel button">
            <i class="remove icon"></i>
            Cancel
        </div>
        <div class="ui green ok button" id="okTeam">
            <i class="checkmark icon"></i>
            Create Team
        </div>
    </div>
</div>

<div class="ui tiny modal" id="participantAdd">
    <div class="content">
        <div class="ui form">
            <div class="ui block header">
                New Participant
            </div>
            <div class="inline fields">
                <div class="required field">
                   <div class="ui left icon input">
                       <i class="icon id card outline"></i>
                       <input type="text" name="regn_no" id="regn_no" placeholder="Registration No"/>
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left icon input">
                        <i class="icon lock"></i>
                        <input type="text" name="secretToken" id="secretToken" placeholder="Secret Token" />
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="actions">
        <div class="ui red basic cancel button">
            <i class="remove icon"></i>
            Cancel
        </div>
        <div class="ui green basic ok button" id="participantAddForm">
            <i class="checkmark icon"></i>
            Add Member
        </div>
    </div>
</div>


<div class="ui info compact message">
    <i class="icon close"></i>
    <div class="header">
        Important information
    </div>
    <ul class="list">
        <li>
            The team can be of maximum 5 members including you
        </li>
        <li>
            You can mark your team as final once you have done adding members
        </li>
        <li>
            Team once marked final cannot be modified or deleted
        </li>
        <li>However there is no limit on the no teams which can be created</li>
    </ul>

</div>

<div id="teamData">
    <h2 class="ui top attached header">
        My Teams
    </h2>
    <div class="ui attached segment olive">
        <div class="ui stackable grid">
            <div class="twelve wide column">

                <h4 class="ui block header">
                    Teams Owned by Me
                </h4>
            </div>
            <div class="four wide column">

                <button class="ui right labeled icon button brown" id="createTeam">New Team <i
                        class="icon plus"></i></button>
            </div>
        </div>

        <div class="ui segments">

            <% allTeams.owner.forEach(function(own){ %>
            <li class="ui compact segment">
                <h5 class="ui dividing header">
                    Team Name: <%= own.team_name %>
                </h5>
                <% if(own.participants.length > 0 ) { %>
                <div class="ui relaxed horizontal list">
                    <% own.participants.forEach(function(part){ %>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                Name: <%= part.name %>
                                <p class="description">
                                    Regn No. <%= part.regn_no %>
                                </p>
                            </div>

                        </div>
                    </div>
                    <% }); %>
                </div>
                <% } else { %>
                <p class="content">
                    No participants
                </p>
                <% } %>
                <% if(own.isFinal) { %>
                <div class="inline">
                    <button class="ui button olive inline" onclick="getMyParticipation('<%= own._id %>')">Show Participated Events</button>
                </div>
                <% } else { %>
                <div>
                    <%   if(own.participants.length <= 3 ) { %>
                    <button class="ui button positive" onclick="addParticipant('<%= own._id %>')">Add
                        participant</button>
                    <% } %>
                    <button class="ui button negative" onclick="markFinal('<%= own._id %>')">Mark as Final</button>
                </div>
                <% } %>
            </li>
            <% }); %>

        </div>
        <h4 class="ui block header">
            Teams I am part of
        </h4>
        <div class="ui segments">
            <% allTeams.participant.forEach(function(own){ %>
            <li class="ui compact segment">
                <h5 class="ui dividing header">
                    Team Name: <%= own.team_name %> owned by <%= own.owner_name.name %> (Regn No.
                    <%= own.owner_name.regn_no %>)
                </h5>
                <% if(own.participants.length > 0 ) { %>
                <div class="ui relaxed horizontal list">
                    <%   own.participants.forEach(function(part){ %>
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                Name: <%= part.name %>
                                <p class="description">
                                    Regn No. <%= part.regn_no %>
                                </p>
                            </div>

                        </div>
                    </div>
                    <% }); %>
                </div>


                <% } else { %>
                <p class="content">
                    No participants
                </p>
                <% } %>
                <% if(own.isFinal) { %>
                <div class="inline">
                    <button class="ui button olive">Show Participated Events</button>
                </div>
                <% } else { %>
                <div class="ui dividing footer">
                    You have'nt participated in Any Events
                </div>
                <% } %>
            </li>
            <% }); %>
        </div>
        <% allTeams.participant %>
    </div>
</div>

<script src="/scripts/students/scripts/allTeams.js"></script>