<% include ../partials/header %>

<style>
    body{
       background:url('/assets/images/wall.jpg') !important;
    }
</style>

</head>

<body>
    <div class="ui menu purple top large inverted">
        <div class="ui container">
            <a class="item header" href="#">LPU Colors </a>
            <a class="item active"><i class="home icon"></i> Home </a>
            <div class="right menu">
                <a class="item"><i class="user outline icon"></i> Hi <%= id.name.split(' ')[0] %></a>
                <div class="item ui dropdown"><i class="icon bell"></i>Notifications <i class="ui dropdown icon"></i>

                    <div class="menu">
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                        <div class="ui section divider"></div>
                        <a class="item">
                            <div class="header">Item 1</div>
                            <div class="text">description of Item</div>
                        </a>
                    </div>


                </div>
                <a class="item"><i class="sign out icon"></i> Sign Out</a>
            </div>
        </div>
    </div>

    <div class="ui basic segment" id="mainPage">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="four wide column">
                        <div class="ui card">
                            <div class="image">
                                <img src="/assets/images/21294.png">
                            </div>
                            <div class="content">
                                <a class="header"><%= id.name %></a>
                                <div class="meta">
                                    <span class="date">Joined on <%= id.reg_date.toDateString() %> <i
                                            class="icon calendar outline"></i></span>
                                </div>
                                <div class="description">
                                    Registration No: <%= id.regn_no %>
                                </div>
                            </div>
                            <div class="extra content">
                                <a>
                                    <i class="phone icon"></i>
                                    <%= id.phone_no %>
                                </a>
                            </div>
                            <div class="content">
                                <div class="ui styled fluid accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Events
                                    </div>
                                    <div class="content">
                                        <div class="transition hidden">
                                            <div class="ui link list">
                                                <a class="item" id="allEvents" href="#">
                                                    All Events
                                                </a>
                                                <a class="item" id="pastEvents" href="#">
                                                    Past Events
                                                </a>
                                                <a class="item" id="upcomingEvents" href="#">
                                                    Upcoming Events
                                                </a>
                                                <a class="item" id="liveEvents" href="#">
                                                    Live Events
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon">

                                        </i>
                                        Profile
                                    </div>
                                    <div class="content">
                                        <div class="transition hidden">
                                            <div class="ui link list">
                                                <a href="#" class="item" id="profile">
                                                    View Profile
                                                </a>
                                                <a href="#" class="item" id="participate">
                                                    My Participation
                                                </a>
                                                <a href="#" class="item" id="teams">
                                                    My Teams
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Clubs
                                    </div>
                                    <div class="content">
                                        <div class="transition hidden">
                                            <div class="ui link list">
                                                <a href="#" class="item" id="allClubs">
                                                    View All Clubs
                                                </a>
                                                <a href="#" class="item" id="allClubParticipation">
                                                    My Club Participation
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <div class="ui hidden message" id="message">

                        </div>
                        <div id="store">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <% if(auth) { %>
    <script>
        localStorage.setItem('__colors__', "<%- auth %>");
        axios.defaults.headers.common['Authorization'] = "Bearer " + "<%- auth %> ";

    </script>
    <% } %>
    <script src="/scripts/students/scripts/dashboard.js">
    </script>


    <% include ../partials/footer %>